* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --first-color: #F55A5A;
    --second-color: #918E9B;
}

body {
 background-color: #fff;
 font-family: "inter", sans-serif;
}

.icon {
    color: var(--first-color);
}

nav {
    width: 100%;
    background-color: var(--first-color);
    display: flex;
    justify-content: center;
    padding: .5rem;
    color: #fff;
    margin-bottom: 2.5rem;
}

.nav-logo {
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    justify-self: center;
}

.cards-wrapper {
   display: grid;
   gap: 2rem;
   width: 90%;
   margin: 0 auto;
}

.card {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.card-img {
    width: 150px;
    height: 200px;
    border-radius: .5rem;
}
/* 
.card-data {
    display: grid;
    gap: .5rem;
} */

.location-details {
    display: inline-flex;
    align-items: center;
    column-gap: .4rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: .9rem;
}

.location-details a {
    text-transform: none;
    margin-left: .5rem;
    color: var(--second-color);
    font-size: .8rem;
}

.title {
    font-size: 2rem;
    margin-bottom: .9rem;
}

.dates {
    font-size: .7rem;
    margin-bottom: .4rem;
}

.description {
    font-size: .6rem;
    line-height: 140%;
}

@media screen and (min-width: 575px){
    .cards-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}